* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/********top bar*********/

.top-header {
    height: 2.8rem;
    padding: .5rem 0;
}

.top-header .col-lg-3 a {
    color: #17539a;
    text-decoration: none;
    font-size: 1rem;
}

.top-header i {
    padding: 5px;
}


/******/

.navbar-brand img {
    height: 3rem;
}

.navbar {
    background-color: #2f5784;
    font-size: 1.15rem;
    font-weight: 400;
}

.nav-item {
    padding: .5rem;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #f7c51c;
}

.header {
    width: 100%;
    height: 100vh;
    background: url('../img/bg.jpg');
    /*background-image: linear-gradient(rgba(75, 162, 206, 0.3), rgba(0, 168, 255, 0.3));*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*clip-path: polygon(0 14%, 55% 14%, 35% 100%, 0% 100%, 0 0);*/
    position: relative;
}

.header:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .4;
    z-index: -1;
    /*background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);*/
}

.navbar:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: .4;
    z-index: -1;
    /*background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);*/
}

.header-section {
    margin-top: 10%;
    width: 100%;
    height: inherit;
    color: white;
    text-align: left;
    position: relative;
}

.header-sec i {
    color: #524f47;
}

.center-div {
    width: 50%;
    height: auto;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.center-div p {
    margin-top: 5%;
}

.header-btn {
    margin-top: 10%;
}

.header-btn a {
    border: 1px solid #fff;
    border-radius: 3%;
    background-color: #fff;
    margin: 0 5px;
    padding: 12px 35px;
    text-decoration: none;
    outline: none;
    color: #f7c51c;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.header-btn a:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}


/*****************Second Section*************8*/

.header-sec {
    width: 100%;
    height: auto;
    text-align: center;
}

.sec-div {
    background: #fff;
    /*border: medium none;*/
    border: .5px solid rgb(208, 208, 221);
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}

.sec-div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
}

.sec-div h2 {
    color: black;
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-wrap: 4px;
}

.headerSec-btn a {
    border: 1px solid #fff;
    border-radius: 3%;
    background-color: #524f47;
    text-decoration: none;
    color: #f7c51c;
    font-weight: 600;
    text-align: center;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 1rem;
}

.headerSec-btn a:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}


/****Third Section****/

.aboutus {
    padding-top: 10%;
    background-image: linear-gradient(to right bottom, rgba(152, 161, 167, 0.8), rgba(87, 90, 92, 0.8)), url(../img/sv.png);
    /*background: url('../img/sv.png');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.aboutus h2 {
    text-align: center;
    padding-bottom: 40px;
    color: #2f5784;
}

.aboutus p {
    text-align: center;
}

.aboutSec-btn {
    padding: 5%;
    text-align: center;
}

.aboutSec-btn a {
    border: 1px solid #fff;
    border-radius: 3%;
    background-color: #f7c51c;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 1rem;
}

.aboutSec-btn a:hover {
    border-radius: 25px;
    transition: .5s ease-in-out;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.services-sec {
    padding-top: 10%;
    z-index: 100;
    position: absolute;
}

.services-sec a {
    font-weight: bold;
    color: #f7c51c;
}


/*********Cards Style**********/

.l-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 50px;
    text-align: center;
}

@media screen and (max-width: 760px) {
    .l-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.b-card {
    position: relative;
    z-index: 1;
    width: 85%;
    border-radius: 100px;
    padding-bottom: 65%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.b-card h3 {
    color: #2f5784;
}

.b-card-cover {
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(120deg, #a8a8a5 0%, #b9b4b3 100%);
    background-size: cover;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    will-change: transform;
    -webkit-transform: skewX(0.001deg);
    transform: skewX(0.001deg);
    -webkit-transition: -webkit-transform .35s ease-in-out;
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.b-card-cover::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
    transition: -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1), -webkit-transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

.b-card:hover .b-card-cover {
    -webkit-transform: rotateX(7deg) translateY(-6px);
    transform: rotateX(7deg) translateY(-6px);
}

.b-card:hover .b-card-cover::after {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.b-card::before {
    display: block;
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
    will-change: opacity;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: skewX(0.001deg);
    transform: skewX(0.001deg);
    -webkit-transition: opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
    transition: opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out, opacity .5s ease-in-out;
    transition: transform .35s ease-in-out, opacity .5s ease-in-out, -webkit-transform .35s ease-in-out;
}

.b-card:hover::before {
    opacity: 0.6;
    -webkit-transform: rotateX(7deg) translateY(-6px) scale(1.05);
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

.b-card:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.b-card:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}


/********************/


/********Available*******/

.sec-available {
    width: 100%;
    height: 175px;
    text-align: center;
    background-color: #f7c51c;
    color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 16% 75%, 14% 90%, 12% 75%, 0% 75%);
}

.sec-available h2 {
    font-weight: 500px;
}


/*****************Contact us****************/

.contactus {
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    position: relative;
}

.contactus:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right bottom, rgba(69, 124, 155, 0.8), rgba(6, 87, 133, 0.8));
    /*background-image: url('../img/sv.png');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(307deg, #16c9f6 55%, #fff 0%);
    z-index: -1;
}

.contactus p {
    padding: 5%;
    padding-left: 0px !important;
}

::placeholder {
    font-size: .86rem;
}

.contactus .btn-send {
    border-radius: 3%;
    width: 200px;
    background-color: #f7c51c;
    margin: 0 5px;
    padding: 12px 35px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}


/************Footer************/

.footersection {
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #2f5784;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 9% 0, 9% 15%, 25% 15%, 25% 0, 100% 0, 100% 100%, 0 100%);
}

.footersection a:hover {
    color: #f7c51c;
}

.footersection p,
h4,
a,
span,
h4 {
    color: #fff
}

.footersection hr {
    border: 1px solid white;
}

.footer-sec,
.footer-sec4 {
    list-style: none;
}

.footer-sec1 a:last-child {
    color: #f7c51c;
    font-weight: bold;
    list-style: none;
}

.row div:nth-child(3) {
    list-style: none;
}

.footer-sec4 .fa {
    margin-right: 8px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    color: #fff;
}

.footer-last i {
    margin: 5px;
}